<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <a href=<%=h user_url(@user)%>><%= @user.displayname%></a> назначен
  <a href=<%=h business_role_url('1084') %>> <%= @user_letter.status and @user_letter.status > 0 ? 'отв.' : ''%> исполнителем </a>
   Письма
  <a href=<%=h letter_url(@letter) %>> <%= @letter.name%> </a>
  <p>
  <hr>
  <p><%= @current_user.displayname %></p>
  <p>&copy; BP1Step. Каталог процессов и ресурсов</p>
</body>
</html>