<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  Вы - 
  <a href=<%=h business_role_url('1084') %>> исполнитель </a>
   Письма
  <a href=<%=h letter_url(@letter) %>> <%= @letter.name%> </a>, которое не исполнено в срок!
  <p>
  Срок исполнения: <%= @letter.duedate.strftime("%d.%m.%Y") %>, наcтупил.
  <p>
  	Необходимо исполнить ВСЕ требования письма, занести результат исполнения и изменить статус письма на "Завершено"
  <p>
  <hr>
  <p>&copy; BP1Step. Каталог процессов и ресурсов</p>
</body>
</html>