= simple_form_for(@agent) do |f|
  = f.error_notification
  = f.input :shortname
  = f.input :name, :as => :text
  = f.input :town
  = f.input :address, :as => :text
  = f.input :contacts
  = f.input :note

  %p
  -if can? :update, @agent
    = f.button :submit