<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <p>Договор #<%= @contract.id %>
  <a href= <%=h contract_url(@contract) %>><%= @contract.shortname %></a>
  от <%= @contract.date_begin.strftime('%d.%m.%Y') if @contract.date_begin %>
  <br>создан <%= @contract.created_at.strftime('%d.%m.%Y') %>
  <br>О чем (краткое описание):
  <br><%= @contract.description%></p>
  <p>Пожалуйста, <strong>завершите процедуру согласования</strong> договора или удалите его.</p>
  <hr>
  <p>&copy; BP1Step. Каталог процессов и ресурсов</p>
</body>
</html>