-title "Каталог Процессов"
-search "Процесс"
%h1
  Каталог Процессов 
  -if params[:search].present?
    [ 
    = params[:search]
    ]
  -else
    -if params[:tag].present?
      %sup
        = params[:tag]
    -else
      -if params[:user].present?
        владелец
        = link_to @user.displayname, user_path(@user)
%table
  %tr
    %th
      = "[Обозначение] Наименование процесса"
      -if !params[:user].present?
        %small ... Владелец
    - if can? :modify, Bproce
      %th
    - if can? :destroy, Bproce
      %th

  -@bproces.order(:lft).each do |bproce|
    %tr
      %td
        = '—' * (bproce.depth) + '[' + bproce.shortname + '] '
        - if bproce.checked_at
          = "\u2713".html_safe
        = link_to bproce.name, bproce_path(bproce)
        .id_show_
          = "##{bproce.id}"
        -#if can? :manage_tag, bproce
          %sup= bproce.tag_list
        -if !params[:user].present?
          -if bproce.user
            = ' ... '
            %small= link_to bproce.user.displayname, user_path(bproce.user)
      - if can? :modify, bproce
        %td
          = link_to image_tag('page_edit.gif', :alt => 'Изменить'), edit_bproce_path(bproce), class: 'button-img'
      - if can? :destroy, bproce
        %td
          -if !Bproce.where(parent_id: bproce.id).first
            = link_to image_tag('action_stop.gif', :alt => 'Удалить'), bproce, data: { confirm: 'Процесс "' + bproce.name + "\"\nДействительно хотите удалить?"}, :method => 'delete', class: 'button-img'
        -#%td
          = bproce.lft
          = ' - '         
          = bproce.rgt
          = ' : '
          = bproce.depth

%p
- if can? :create, @bproces.first
  = link_to 'Каталог', bproces_path+'.pdf?all=1', :class => 'button'
  - format = '.pdf'
  - format << '?' + request.query_string if request.query_string
  = link_to 'Список', bproces_path + format, :class => 'button'
  = link_to "Добавить новый процесс" , new_bproce_path, :class => 'button'
%p
Теги:
= raw Bproce.all_tags.map { |t| link_to t.name, tag_bproces_path(t.name), class: 'tags' }.join('&nbsp; ')