body {
  color: #222;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.container {
  width:960px;
  margin:0.5em auto;
  background: white;
  padding: 0.5em 0.5em 0.5em 1em;
  box-shadow: 2px 2px 8px #aaa;
}
h1,h2,h3,h4,h5 {
  background-color: #eee;
  line-height: 1;
}

a {
  color: #000;
  &:visited {
    color: #0B243B;
  }
  &:hover {
    color: #fff;
    background-color: #336699;
    border-radius: 5px;
  }
  padding: 2px 5px 2px;
}
li {
  list-style:none;
}

@media screen {
.nav{
    display: block;
    white-space: nowrap;
    position: relatove;
    text-transform: uppercase;
    line-height: 22px;
    font-weight:bold;
    margin: 0 5px 0 0;
    float:left;
    z-index: 5;
}
.nav li{
    float:left;
    display: block;
    position:relative;
}
.nav li a {
    padding: 7px 10px 7px;
    text-decoration:none;
}
.nav li:hover a {
    border-radius: 0px;
    color:#fff;
    background-color: #000;
    text-decoration:none;
    left: 0;
}

.nav ul{
    background: #FFCC99;
    background: linear-gadient(top, #efefef 0%, #bbbbbb 100%);
    border-radius: 0px;
    list-style:none;
    position:absolute;
    left: -9999px;
}
.nav ul li{
    left: auto;
    float:none;
}
.nav ul a{
    white-space:nowrap;
}
.nav li:hover ul{
    left:0;
}
.nav li:hover a{
    text-decoration:underline;
}
.nav li:hover ul a{
    text-decoration:none;
}
.nav li:hover ul li a:hover{
    background:#555;
}
}
#menu {
  background: #FFCC99;
  box-shadow: 2px 2px 4px #aaa;
}
th {
  background:#c3d9ff;
}
th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
th .asc { background-image: url(up_arrow.gif); }  
th .desc { background-image: url(down_arrow.gif); }

tbody tr:nth-child(even) td, tbody tr.even td {background: #DCE6EA;}

a.button,
.button {
  border:1px solid #9a9a9a;
  text-align:center; 
  text-decoration:none;
  border-radius:3px;
  box-shadow:rgba(0, 0, 0, 0.8) 0px 2px 3px;
  background:#fff;
  background:linear-gradient(#fff, #e2e2e2);
  color:#111;
  font-size:14px;
  padding: 3px 20px;
  display:inline-block;
}
a.button:hover,
.button:hover {
  border:1px solid #5a5a5a;
  background:linear-gradient(#e2e2e2, #fff);
}
a.button:active,
.button:active {
  color:#666;
  box-shadow:#5a5a5a 0px 3px 5px inset;
}

logo {
  position  : relative;
  width   : 100%; /* for IE 6 */
}

logo_text {
  position: absolute;
  top: 29px;
  left: 0;
  width: 100%;
}
logo_text span {
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.3);
}

.tags, a.tags {
  color: #996633;
  box-shadow: 1px 1px 2px #330000;
  background-color: #FFCC99;
  border-radius: 3px;
  text-decoration: none;
}

a.tags:hover {
  color: #FFCC99;
  background-color: #993300;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.groups, a.groups {
  color: #996633;
  box-shadow: 1px 1px 2px #330000;
  background-color: OldLace;
  border-radius: 3px;
  text-decoration: none;
}

a.groups:hover {
  color: #FFCC99;
  background-color: #993300;
}

.button-img, a.button-img, a.button-img:hover {
  padding: 0px 0px;
  background: transparent;
}

.id_ {
  font-weight:bold;
  padding: 1px 5px;
  position:relative;
  top:0.5em;
  float:right;
  z-index: 999;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
}

.id_show_ {
  display:inline-block;
  position:relative;
  color: #999;
}

.checked_ {
  padding: 1px 5px;
  position:relative;
  top:0.5em;
  float:right;
  z-index: 900;
  color: #FF6347;
  background-color: #FFD8C0;
  border-radius: 3px;
}


.info_ {
  position:relative;
  text-align: right;
  top:0.5em;
  float:right;
  z-index: 999;
  color: #999;
}
.info_ a {
  color: #999;
}

.field_with_errors, #flash_alert {
  padding: 2px;
  color: red;
  background-color: #F6CECE;
  display: block;
}
#flash_notice {
  padding: 2px;
  color: #336633;
  background-color: #CCFFCC;
}

@media print { /* стили для печати - скрывают некоторые элеементы */
  .menu, #menu, .nav, .search, .users { display: none; }
  a:after {content:" <" attr(href) ">";}
  h1 {color: #CCC;}
}

.round-image-50 {
  float: left;
  position: relative;
  margin-right: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% };
  top: 0px;
}


